{% extends 'base.html' %}
{% load embed_video_tags %}


    {% block content %}
    {% if user.is_authenticated %}
        <div class = "shadow p-4 mb-5 bg-body rounded">
            <h1 class="mb-5">Filmy instruktażowe</h1>

            <div class="d-flex flex-wrap">{% for item in videos %}
                <div class="mb-5">
                    {% video item.url '1280x720' %}
                    <div class="d-flex justify-content-center ">
                        {{ item.title }}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    {% else %}
        <h1>Musisz być zalogowany aby wyświetlić tę stronę!</h1>
        <a href="{% url 'login' %}">Zaloguj się tutaj</a>
    {% endif %}
{% endblock %}