{% extends 'base.html' %}
{% load embed_video_tags %}

{% block content %}
    <div class = "shadow p-4 mb-5 bg-body rounded">
        <h1 class="mb-5">Witaj na mojej stronie</h1>
        <h6>W celu korzystania z filmów instruktażowych wyślij przelew z aplikacji lub strony swojego banku na poniższe dane:</h6>
        <div class = "border border-1 p-4 mb-5 bg-body rounded">
            <p class="mb-1">Numer konta: 26 1140 2004 0000 3202 7803 2934</p>
            <p class="mb-1">Nazwa odbiorcy: Twoj-trener.pl</p>
            <p class="mb-1">Tytuł przelewu: Dostęp na adres: [W tym miejscu wpisz swój adres mailowy]</p>
            <p class="mb-1">Kwota przelewu: 50zł</p>
        </div>
    </div>



{% endblock %}